<div class="row">
  <div class="col-md-4 col-md-offset-4">
        <h1>Log in</h1>

    <div class="alert alert-danger" *ngIf="authenticationFailed">
      <button type="button" class="close" aria-label="Close" (click)="authenticationFailed = false;"><span aria-hidden="true">&#215;</span></button>
      Nope, try again...
    </div>

    <form (ngSubmit)="register()" [formGroup]="userForm">

      <div class="form-group">
        <label for="login" id="login-label">Login</label>
        <input id="login" class="form-control" formControlName="login">
        <div id="login-warning" *ngIf="loginCtrl.dirty && loginCtrl.hasError('required')">Login is required</div>       
      </div>

      <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" type="password" formControlName="password">
            <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">Password is required</div>
          </div>
    

       <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid">Log me in!</button>
    </form>
  </div>
</div>
