   <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 margin-btm-20">
                       
                        <div class="space-20"></div>
                        <div class="footer-col">
                            <h3>contact info</h3>                           
                            <p><i class="ion-email"></i> sandropucp@gmail.com</p>
                        </div>
                        <div class="space-20"></div>
                        <div class="footer-col">
                          
                        </div><!--footer social col-->
                    </div><!--col-4 end-->
                    <div class="col-md-3 margin-btm-20">
                        <div class="footer-col">
                            <h3>Quick links</h3>
                            <ul class="post-list list-unstyled">
                                <li><a href="https://angular.io/" class="hover-color">Angular 2</a></li>
                                <li><a href="http://expressjs.com/" class="hover-color">Express JS</a></li>
                                <li><a href="https://www.mongodb.com/" class="hover-color">Mongo DB</a></li>
                                <li><a href="http://mongoosejs.com/" class="hover-color">Monsoose</a></li>                                
                            </ul>
                        </div>
                    </div><!--latest post col end-->
                    <div class="col-md-5">
                        <div class="footer-col">
                           
                            <h3>Follow us</h3>
                            <ul class=" list-inline social-btn">
                                <li><a href="https://www.facebook.com/sandro.sanchez"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                                <li><a href="https://twitter.com/sandropucp"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                                <li><a href="https://plus.google.com/u/0/101841764934044559846"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                            </ul>
                            
                        </div>
                    </div><!--get in touch col end-->
                </div><!--footer main row end-->  
                <div class="space-70"></div>
                <div class="row">
                    <div class="col-md-12 text-center footer-bottom">
                        
                        <div class="space-20"></div>
                        <span>&copy;2016.all right resrved.Design by design_mylife</span>
                    </div>
                </div><!--footer copyright row end-->
            </div><!--container-->
        </div><!--footer main end-->