<header>
  <nav>
    <ul>
      <li><a [routerLink]="['./admin']" routerLinkActive="active" title="Admin">Admin</a></li>
      <li><a [routerLink]="['./login']" routerLinkActive="active" title="Login">Login</a></li>
      <li><a routerLink="/" routerLinkActive="active" title="Home">Home</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="user">
      <li>
        <p class="navbar-text">
          <span class="glyphicon glyphicon-user"></span> {{ user.login }}
        </p>
      </li>
      <li>
        <p class="navbar-text">
          <span class="glyphicon glyphicon-star-empty"></span> {{ user.money }}
        </p>
      </li>
    </ul>
  </nav>
</header>
